.content
{
    &_table
    {
        th,td
        {
            padding: 15px;
        }

        th
        {
            background-color: $main_color;
            color: #fff;
            font-weight: 600;
        }

        tr
        {
            &:nth-child(even)
            {
                background-color: aliceblue;
            }
        }

    }
}


.main
{
    &_projects
    {
        &_all
        {
            float:none;
            @include media-breakpoint-up(md)
            {
                float: right;
            }
        }
    }
}