.text-test {
  font-size: 4px;
}

.button
{
    font-size: 12px;
    padding:6px 12px;
    text-transform: uppercase;
    border-radius: 3px;
    border-width:2px;
    border-style: solid;
    text-align: center;
    display: inline-block;
    font-weight: 600;
    cursor: pointer;
  &_white
  {
      background-color: #fff;
      border-color: $main_color;
      color: $main_color;
      &:hover {
          background-color: $main_color;
          color: #fff;
      }
  }
  &_dark
  {
      background-color: $main_color;
      border-color: #fff;
      color: #fff;
      &:hover
      {
          background-color: $lighten_main_color;
      }
  }
  &_rounded
  {
      border-radius: 15px;
      padding:10px 12px;
  }
}

%form_header_text {
  font-size: 20px;
  font-weight:700;
  position: relative;
  @include media-breakpoint-up(lg) {
    font-size: 32px;
  }
}
.form_m {
  margin-top: 15px;
  transform: scale(0.7);
  position: relative;
  left: -15px;
  @include media-breakpoint-up(md)
  {
    transform: scale(1);
    position: static;
  }
}
.ya_map {
  max-width: 100%;
  overflow: hidden;
}
.form_header
{
  background-color: $main_color;
}
.form_header_text {
  @extend %form_header_text;
}
.modal_forms form {
  padding: 0;
}

