.minicart
{
    &__count
    {
        position: absolute;
        top: -8px;
        right: -8px;
        font-weight: bold;
        padding: 2px 5px;
        border-radius: 50%;
        background: aliceblue;
        font-size: 14px;
    }



}