.main_slider
{
    .item
    {

        .title
        {

            font-size: 20px;
            line-height: 38px;
            padding: 0 0 9px;
            font-weight: 700;

            @include media-breakpoint-up(md)
            {
                font-size: 25px;
            }

            @include media-breakpoint-up(lg)
            {
                font-size: 36px;
            }
        }
        .text-block
        {
            margin-bottom: 32px;
            font-size: 16px;

        }

        .white
        {
            .text-block
            {
                color:#fff;
            }
            .title
            {
                color:#fff;
            }
        }
        .dark
        {
            .text-block
            {
                color:#222;
            }
            .title
            {
                color:#222;
            }
        }
    }

}
.slick-arrow {
    z-index: 2;
    //position: relative;
    opacity:0.5;
    display: none;
}
.main_slider:hover .slick-arrow {
    display: block;
}
.slick-prev {
    left: 0;
}
.slick-next {
    right: 0;
}
.slick-prev:before{
    font-family: Font Awesome\ 5 Free;
    font-weight: 600;
    content: "\f104";
    position: absolute;
    color: #fff;
    left: 0;
}
.slick-next:before{
    font-family: Font Awesome\ 5 Free;
    font-weight: 600;
    content: "\f105";
    position: absolute;
    color: #fff;
    right: 0;

}
.slick-arrow:before {
    background: #333;
    padding: 0px 14px;

}

