$default-font: 'Exo 2', sans-serif;
$accent: orange;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"

$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;


// colors
$content_color: #333;
$dark_content_color: #222;
$heads_color: #333;
$main_color: #5baa00;
$lighten_main_color: #66be00;
$menu_main_color: #509600;
$darken_main_color: #407700;
$gray_color: #95979a;




$bg_color: #252d35;
$link_color: #AAF1F2;


$form_gray_color: #939393;
$form_header: #3C93D1;
$blue: #3C93D1;
