.header
{
   &__wrap
   {
       &-menu
       {
           position: relative;
            @include media-breakpoint-down(md)
            {
                display: none;
            }
       }
   }

    &__menu
   {
       li
       {
           position: relative;
           
           &.active
           {
               & > a
               {
                   background-color: $darken_main_color;
                   color: #fff;
                   box-sizing: border-box;
                   border-right:1px solid rgba(255,255,255,0.1);
               }
           }
       }
       a
       {
           position: relative;
       }
       & > li
        {
           background-color: #f3f3f3;
           border-bottom:1px solid rgba(0,0,0,0.1);
           @include media-breakpoint-up(md)
           {
               background-color: $menu_main_color;
               border-right:1px solid rgba(255,255,255,0.1);
               border-bottom:none;
           }
           &:hover
           {
               background-color: $lighten_main_color;

               & > ul
               {
                   visibility: visible;
                   opacity: 1;
               }
           }
           & > a
            {


               color: #333;
               padding: 7px;
               text-align: center;
               @include media-breakpoint-up(md)
               {
                   padding:20px;
                   color: #fff;
                   font-weight: 700;
                   text-transform: uppercase;
               }
            }
           &.parent
           {
               & > i
               {
                   color: #333;
                   position: absolute;
                   width: 38px;
                   height: 38px;
                   right: 0;
                   top: 0;
                   z-index: 3;
                   &:before
                   {
                       position: absolute;
                       top: 13px;
                       left: 16px;
                   }

               }
               & > a
               {
                   @include media-breakpoint-up(md)
                   {
                       &:after
                       {
                           font-family: Font Awesome\ 5 Free;
                           content: "\f107";
                           position: absolute;
                           right: 10px;
                           top: 19px;
                           color: #fff;
                       }
                   }

               }
           }
        }
       .inner_menu
       {
           display: none;
           position: relative;
           width: 100%;
           z-index: 3;

           @include media-breakpoint-up(md)
           {
               position: absolute;
               display: block;
               visibility: hidden;
               opacity: 0;
               transition: 1s;
           }

           li
           {

           }
           a
           {
               font-size: 13px;
               padding: 10px 15px;
               color: $dark_content_color;
               box-sizing: border-box;
               background-color: #fff;
               border-bottom:1px solid #f2f2f2;

               &:hover
               {
                   background-color: $darken_main_color;
                   color: #fff;
               }

           }
       }
   }
    &__search
    {
        box-sizing: border-box;
        font-size: 30px;
        padding-top: 15px;
        background-color: $menu_main_color;
        &:hover
        {
            background-color: $lighten_main_color;
        }

        i
        {
            color: #fff;
        }
    }


}